# Project specific
compile_commands.json
test/edm.ado
test/*.plugin
test/edm_cli*
test/gbench*
test/edm_test*
test/ci-test.json
test/ci-test-out.json
build
bin
site
vcpkg_installed
*compile.bat
*compile.sh

.clangd
*.h5
*desktop.ini
*.DS_Store
*Icon*
.vscode*
.idea*
cmake-build-debug
cmake-build-release

junk*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
